:root {
  --calendar-weekday: #ebddd2;
  --calendar-month: #ebddd2;
  --calendar-border-color: #ebddd2;
  --calendar-highlighted-day-color: #ffaa67;
}

body,
.wrapper-content {
  background-image: linear-gradient(rgba(24, 26, 27, 0.7), rgba(24, 26, 27, 0.7)),
    url("/mambi-icon-oulined.png");
}

header {
  background-color: rgba(24, 26, 27, 0.95);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 15px 2px;
}

a,
header a,
footer a {
  color: rgb(175, 169, 158);
}

/* All buttons */
.button a {
  background-color: #f34b21;
  color: rgb(232, 230, 227);
}

.button a:hover {
  color: rgb(209, 207, 204);
}

.button a:visited {
  color: rgb(209, 207, 204);
}

/* Background cover Home */

main > section:not(.code-of-conduct) {
  background-color: #012a1c;
}

.window {
  border: 1px solid rgb(129, 120, 106);
  background-color: rgb(24, 26, 27);
}

.window .title-bar {
  border-bottom: 1px solid rgb(129, 120, 106);
}

footer {
  background-color: rgb(24, 26, 27);
  border-top: 1px solid rgb(58, 62, 65);
}

.tweet {
  background-color: rgb(24, 26, 27);
  transition: background-color 0.25s;
}

.tweet:hover {
  background-color: rgb(42, 45, 47);
}

.tweet .content img {
  filter: invert(100%) sepia(17%) saturate(274%) hue-rotate(95deg) brightness(101%) contrast(99%);
}

/* Start Tweet word counter circle */

.tweet .content .icons svg > circle {
  fill: #2f3336;
}

.tweet:hover .icons svg > circle {
  fill: rgb(24, 26, 27);
}

.tweet .content .icons svg > svg > circle {
  fill: rgb(24, 26, 27);
}

.tweet:hover .icons svg > svg > circle {
  fill: rgb(42, 45, 47);
}

/* Start LanguageSwitcher */

.svelte-select .item {
  color: #afa99e;
}

.svelte-select .svelte-select-list,
.svelte-select .item {
  background-color: rgb(24, 26, 27) !important;
}

.svelte-select .svelte-select-list:hover,
.svelte-select .item:hover {
  background-color: rgb(42, 45, 47) !important;
  transform: scale(0.99);
  filter: brightness(0.9);
}

/* Link */
.link {
  color: rgb(199 162 127);
}

.link:hover {
  color: #ff8915;
}
